ErrorDocument 400 /get/error.php
ErrorDocument 401 /get/error.php
ErrorDocument 403 /get/error.php
ErrorDocument 404 /get/error.php
ErrorDocument 405 /get/error.php
ErrorDocument 406 /get/error.php
ErrorDocument 409 /get/error.php
ErrorDocument 413 /get/error.php
ErrorDocument 414 /get/error.php
ErrorDocument 500 /get/error.php
ErrorDocument 501 /get/error.php
Options -Indexes